/** Use more screen width. */
/*@media only screen and (min-width: 76.25em) {*/
/*    .md-main__inner, .md-header__inner, .md-tabs__inner {*/
/*        max-width: 95%;*/
/*    }*/
/*    .md-sidebar--primary {*/
/*        left: 0;*/
/*    }*/
/*    .md-sidebar--secondary {*/
/*        right: 0;*/
/*        margin-left: 0;*/
/*        -webkit-transform: none;*/
/*        transform: none;*/
/*    }*/
/*}*/

.md-header__button.md-logo :-webkit-any(img,svg) {
    width: 5em;
    height: 5em;
}

.md-header__button.md-logo {
    margin-left: -0.7em;
}

:root {
    font-size: 20pt;
}

.md-typeset :is(.emojione,.twemoji,.gemoji) {
    vertical-align: middle;
}

[data-md-color-scheme="hydraulic"] {
    --md-primary-fg-color:        #3777BA;
    --md-primary-fg-color--light: #6c50f9;
    --md-primary-fg-color--dark: #254f84;
}
