site_name: Hydraulic Conveyor
site_description: User guide for the Conveyor packaging tool.
site_url: !ENV CANONICAL_URL

extra:
  homepage: https://www.hydraulic.dev
  version:
    provider: mike
  generator: false

nav:
  - Welcome:
    - Getting started: index.md
    - sample-apps.md
    - download-conveyor.md
    - outputs.md
    - running.md
    - continuous-integration.md
    - performance.md
    - Comparison vs alternatives:
        - Electron: comparisons/electron-comparisons.md
        - JVM: comparisons/jvm-comparisons.md
    - Versions:
        - release-notes.md
        - known-issues.md
        - compatibility-levels.md
        - min-sys-requirements.md
  - Tutorial:
    - Choose your path: tutorial/new.md
    - The Hare:
        - tutorial/hare/electron.md
        - tutorial/hare/jvm.md
        - tutorial/hare/flutter.md
        - tutorial/hare/native.md
    - The Tortoise:
        - tutorial/tortoise/1-get-started.md
        - tutorial/tortoise/2-create-or-adapt-a-project.md
        - tutorial/tortoise/3-compile.md
        - tutorial/tortoise/4-build-unpackaged.md
        - tutorial/tortoise/5-serve-the-site.md
        - tutorial/tortoise/6-install-the-app.md
        - tutorial/tortoise/7-release-an-update.md
        - tutorial/tortoise/8-site.md
        - tutorial/tortoise/9-next-steps.md
  - Configuration:
    - configs/index.md
    - configs/inputs.md
    - configs/download-pages.md
    - configs/os-integration.md
    - configs/keys-and-certificates.md
    - Syntax: configs/hocon-spec.md
    - Standard Library: stdlib/index.md
    - Runtimes:
      - Native apps: configs/native-apps.md
      - Electron: configs/electron.md
      - JVM: configs/jvm.md
      - Flutter: configs/flutter.md
    - Operating systems:
      - configs/windows.md
      - configs/mac.md
      - configs/linux.md
    - Build systems:
      - configs/maven-gradle.md
  - FAQ:
    - faq/index.md
    - faq/output-formats.md
    - faq/making-packages.md
    - faq/signing-and-certificates.md
  - Troubleshooting:
    - Building: troubleshooting/troubleshooting-builds.md
    - Windows: troubleshooting/troubleshooting-windows.md
    - Linux: troubleshooting/troubleshooting-linux.md
    - JVM apps: troubleshooting/troubleshooting-jvm.md

theme:
  name: 'material'
  custom_dir: overrides

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - navigation.sections
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.tabs.link

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: hydraulic
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode

  logo: 'images/logo-white.svg'
  favicon: images/favicon.ico

  font:
    text: Titillium Web
    code: Roboto Mono

  icon:
    admonition:
      mac: simple/apple
      windows: simple/windows
      linux: simple/linux

markdown_extensions:
  - markdown_include.include:
      base_path: docs
  - admonition
  - codehilite
  - meta
  - footnotes
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde

extra_css:
  - stylesheets/guidebook.css

extra_javascript:
  - javascripts/tasklist.js
