[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = {git = "https://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@github.com/squidfunk/mkdocs-material-insiders.git"}

[dev-packages]

[requires]
python_version = "3.8"
